<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/master}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4" th:text="${greeting}"></h1>
            <p class="lead">Hello, everyone.</p>
            <p>How are you doing ? </p>
            <form th:action="@{/customer}">
                <button class="mt-3 btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
